.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 70px 50px;
}

.boxes {
  height: 100%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main-btn {
    align-self: center;
  }
}

button {
  background: rgb(240, 221, 221);
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px 20px;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(#000, 0.5);
  }
}
